<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Int</string>
				<string>int</string>
				<string>TXT</string>
				<string>Txt</string>
				<string>INT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Reduce Int Doc.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Reduce3D Integrate Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Reduce3DHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Reduce3D Help</string>
	<key>CFBundleIconFile</key>
	<string>Reduce</string>
	<key>CFBundleIdentifier</key>
	<string>com.davehirsch.Reduce3D</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.31</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>qtRD</string>
	<key>CFBundleVersion</key>
	<string>3.31</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
