body {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../images/Reduce3DBigPaleIcon.png);
	background-repeat: repeat-y;
}
strong {
	font-size: 13px;
	color: #000033;
}
a:link, a:visited {
	color: #3366FF;
	font-weight: bold;
}
.program_name {
	font-variant: small-caps;
}
.Back_link {
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	display: inline;
}
